$white: #FFFFFF;

$button-color: #FFC59E;
$inactive-link-color: #C3B9B5;
$footer-color:#59443F;

$text-dark: #080606;
$text-custom: #59443F;


$bg-light: #FFFEFE;
$bg-highlighted: #FFC59E;
$bg-separate: #EDE9E8;
$bg-dark-muted:rgba(8, 6, 6, 0.5);