@import "./colors";
@import "./mixins";

.container {
  max-width: 1460px;
  margin: 0 auto;
}

.enroll {
  display: grid;
  grid-template-columns: 1fr 1.8fr
}

.main-title {
  @include SchoolBook (400, 80px, 110px);
  color: $text-dark;
}

.enroll__title {
  margin: 160px 0 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 75px 0 60px;
  cursor: pointer;
  text-decoration: none;
  color: $button-color;
}

.breadcrumps__arrow {
  width: 7px;
  height: 12px;
  background-image: url('../assets/images/landing/ico/arrow_small_prev.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.breadcrumps__title {
  text-transform: uppercase;
  @include Futura-New (700, 20px, 20px);
}

.enroll__btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.enroll__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 909px;
  padding: 32px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  &:hover {
    border: 1px solid $inactive-link-color;
  }
}