@import "./colors";
@import "./fonts";
@import "./mixins";

img {
    max-width: 100%;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.web-header {
    width: 100vw;
}
.web-header__container {
    display: flex;
    flex-direction: row;
}
.web-header__logo {
    width: 5%;
}
.web-header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.web-header__menu-item {
    @include Futura-New(700, 2.22vh, 2.22vh);
    color: $inactive-link-color;
    text-decoration: none;
    margin-left: 2.78vw;
    margin-right: 2.78vw;
}
