@import "./colors";
@import "./mixins";

img {
    max-width: 100%;
}

.web-header {
    display: flex;
}
.web-header__container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6.31vw;
    margin-top: 8.23vh;
    margin-right: 5.55vw;
    margin-bottom: 2.07vh;
}
.web-header__logo {
    margin-right: auto;
    display: flex;
    filter: invert(24%) sepia(13%) saturate(1117%) hue-rotate(324deg)
        brightness(91%) contrast(79%);
}

.web-header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.web-header__menu-item,
.web-header__location-text {
    @include Futura-New(700, 2.22vh, 2.22vh);
}

.web-header__menu-item {
    color: $inactive-link-color;
    margin-left: 2.78vw;
    margin-right: 2.78vw;
    transition: 0.3s;

    &:hover {
        color: $text-custom;
    }
}

.web-header__dropdown-link {
    display: inline-block;
    &:hover .web-header__dropdown-menu {
        display: block;
    }
    &:hover .web-header__menu-item {
        color: $text-custom;
    }
}

.web-header__dropdown-menu {
    display: none;
    position: absolute;
    width: 15.625vmax;
    z-index: 1;
    background-color: $white;
    box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
    border-radius: 10%;
    padding: 2.31vh 0;
    margin-top: 0.5vh;
    box-sizing: content-box;
    transition: 0.3s;
    & > a {
        @include Futura-New(400, 2.22vh, 2.22vh);
        color: $text-dark;
        padding: 1.39vmin 2.6vmax;
        padding-right: 0;
        display: block;
        text-align: left;

        &:hover {
            @include Futura-New(500, 2.22vh, 2.22vh);
            padding-left: 3.33vmax;
            transition: 0.3s;
        }
    }
}

.web-header__location {
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: 0.3s;
    filter: invert(77%) sepia(26%) saturate(697%) hue-rotate(328deg)
        brightness(105%) contrast(101%);

    &:hover {
        filter: invert(25%) sepia(22%) saturate(532%) hue-rotate(325deg)
            brightness(94%) contrast(86%);
    }
}

.web-header__location-text {
    margin-left: 1em;
    color: #000;
}

.burger {
    display: none;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
    @include Futura-New(700, 2.22vh, 2.22vh);
}

.burger__checkbox {
    display: block;
    width: 47px;
    height: 35px;
    position: absolute;
    top: 6px;
    right: 32px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
    &:checked ~ .burger__menu {
        transform: none;
    }
}

.burger__icon {
    position: relative;
    top: 20px;
    width: 50px;
    height: 5px;
    background-color: $button-color;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    // transform-origin: 4px 0px;

    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 5px;
        top: -12px;
        background-color: $button-color;

        // transform-origin: 0% 100%;
    }
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 5px;
        top: 12px;
        background-color: $button-color;
        // transform-origin: 4px 0px;
    }
}

.burger__icon,
.burger__icon::after,
.burger__icon::before {
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.burger__checkbox:checked ~ .burger__icon,
.burger__checkbox:checked ~ .burger__icon::after,
.burger__checkbox:checked ~ .burger__icon::before {
    background-color: $bg-highlighted;
}

.burger__checkbox:checked ~ .burger__icon {
    background-color: $bg-light;
}
.burger__checkbox:checked ~ .burger__icon::before {
    opacity: 1;

    transform: translateY(-13px) rotate(-45deg);
}
.burger__checkbox:checked ~ .burger__icon::after {
    opacity: 1;
    transform: translateY(13px) rotate(45deg);
}

.burger__checkbox ~ .burger__menu {
    opacity: 0;
}

.burger__checkbox:checked ~ .burger__menu {
    opacity: 1;
}

.burger__menu {
    position: absolute;
    width: auto;
    max-width: 60vw;
    margin: 1vh 0 0 -30vw;
    padding: 7.36vw;

    background-color: $bg-light;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(0, -100%);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.burger__menu > a {
    text-decoration: none;
    color: $inactive-link-color;

    transition: color 0.3s ease;
    &:hover {
        color: $text-custom;
    }
    & > li {
        padding: 10px 0;
    }
}

@media screen and (max-width: 767px) {
    .web-header__location {
        display: none;
    }
    .web-header__menu {
        display: none;
        // gap: 1vw;
        // justify-content: end;
    }
    .web-header__logo {
        width: 40%;
    }
    .web-header__container {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .web-header__dropdown-menu {
        right: 0;
    }
    .burger {
        display: block;
    }
}
@media screen and (max-width: 1023px) {
    .web-header__dropdown-menu > a:hover {
        padding-left: 2.6vmax;
    }
    .web-header__dropdown-menu {
        margin-top: 0;
    }
}
