.history_landing {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fbf8f8;
}

.section_container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
    margin-left: 12vmax;
    margin-right: 10vmax;
    margin-top: 16vmin;
    margin-bottom: 20vmin;
}
@media (max-width: 768px) {
    .section_container {
        max-width: 100%;
        padding: 0 20px;
    }
}
.company_history {
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: clamp(60px, 0.8vw, 80px);
}
.company_staff {
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    text-align: center;
    margin-bottom: clamp(30px, 1.5vw, 32px);
}

.text {
    margin-bottom: clamp(48px, 2vw, 52px);
}
.link_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.more {
    font-family: "Futura New";
    src: local("Futura New Bold Reg"), local("Futura-New-Bold-Reg");
    font-weight: 700;
    font-style: normal;
    color: #ffc59e;
    margin-bottom: clamp(30px, 1.5vw, 32px);
    color: #ffc59e;
    margin-bottom: clamp(30px, 1.5vw, 32px);
}
.iso_arrow {
    width: 24px;
    height: 20px;
    background-image: url("../assets/images/landing/ico/arrow_small");
    background-size: contain;
    background-repeat: no-repeat;
}
.slider_staff {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: clamp(30px, 1.5vw, 32px);
    justify-content: center;
}
@media (max-width: 820px) {
    .slider_staff {
        max-width: 100%;
    }
}

.circle {
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
