.landing-map,
.landing-container {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.35vmax;
    margin-left: 12vmax;
    margin-right: 12vmax;
    margin-top: 21.76vmin;
    margin-bottom: 20vmin;
}
.landing-map__desc,
.map-desc {
    display: flex;
    flex-direction: column;
}

.map-desc__title {
    color: $text-dark;
    margin-bottom: 6.48vmin;
}

.map-desc__container {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}
.map-desc__subtitle {
    color: $text-dark;
}
.map-desc__row {
    display: flex;
    flex-direction: row;
    gap: 1.56vmax;
}
.map-desc__img {
    filter: invert(99%) sepia(54%) saturate(4238%) hue-rotate(296deg)
        brightness(104%) contrast(116%);
    width: clamp(20px, 2.4vw, 30px);
    height: clamp(29px, 2.4vw, 40px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.map-desc__desc {
    color: $text-custom;
}

.map-desc__img_loc {
    background-image: url(/assets/images/landing/ico/location.svg);
}

.map-desc__img_ph {
    background-image: url(/assets/images/landing/ico/phone.svg);
}
.map-desc__img_time {
    background-image: url(/assets/images/landing/ico/clock.svg);
}

.landing-map__tablet {
    display: none;
}

.landing-map__mobile {
    display: none;
}

@media screen and (max-width: 1023px) {
    .landing-map {
        flex-direction: column;
    }
    .landing-map__desctop {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .landing-map {
        margin: 5em 1.5em;
        width: auto;
    }
    .landing-map__mobile {
        display: block;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .landing-map__tablet {
        display: block;
    }
    .map-desc__title {
        text-align: left;
    }
    .landing-map {
        max-width: 100vw;
        width: auto;
    }
}
@media screen and (min-width: 1024px) {
    .landing-map {
        flex-wrap: wrap;
    }
}
