.order {

  &__form {
    display: grid;
    grid-template: 1fr 1fr 3fr / 1fr 1fr;
    grid-template-areas:
      "name name"
      "tel data"
      "issue issue";

    @media (max-width: 768px) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr) 3fr;
      grid-template-areas:
        "name"
        "tel"
        "data"
        "issue";
    }

    gap: clamp(12px, 1.25vw, 24px);

    &_input {
      border: 1px solid $bg-separate;
    }
  }

  &__input {
    padding: 16px;
    border-radius: clamp(14px, 1vw, 20px);
    background-color: #fff;

    &::placeholder {
      color: $inactive-link-color;
    }

    &_name {
      grid-area: name;
    }

    &_tel {
      grid-area: tel;
    }

    &_data {
      grid-area: data;
    }

    &_issue {
      grid-area: issue;
      resize: none;
    }
  }

  &__payment {
    margin-top: 24px;
    padding: 16px 16px 0;
    border-radius: clamp(14px, 1vw, 20px);
    background-color: $bg-separate;
  }

  &__row {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas:
      "payment-type capcha-form";
    gap: clamp(12px, 1.25vw, 24px);

    @media (max-width: 1680px) {
      grid-template: 1fr/ 1fr;
      grid-template-areas:
        "payment-type"
        "capcha-form";
    }
  }

  &__payment-type {
    grid-area: payment-type;
  }

  &__payment-capcha-form {
    grid-area: capcha-form;
    display: flex;
    gap: 8px;

    @media (max-width: 1680px) {
      justify-content: center;
    }

    @media (max-width: 540px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__payment-captcha {
    width: 209px;
    height: 57px;
    // width: clamp(150px, 10.88vw, 209px);
    // height: clamp(33px, 3vw, 57px);
    background-image: url('../assets/images/landing/captcha.png');
    background-size: contain;
    border-radius: clamp(14px, 1vw, 20px);

    &_input {
      width: 209px;
      border: none;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px 0;

  }

  &__btn {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.desc {
  @include Futura-New (400, 20px, 25px);
  color: $text-custom;
}