.section__nav-notif {
    position: relative;
    margin-left: clamp(20px, 1.56vw, 30px);
}
.section__nav-item_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile__nav-items {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}
.profile__nav-item {
    padding: clamp(10px, 0.78vw, 15px);
}

.profile-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 9.26vmin;
    row-gap: 2.78vmin;
}

.profile__card {
    background: $white;
    border: 1px solid $bg-separate;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);

    padding: 1.39vmin;
}

.profile__card-name,
.profile__card-desc,
.profile__card-picture {
    display: flex;
    flex-direction: column;
    padding: 1.39vmin;
    row-gap: 1.85vmin;
}

.profile__card-line {
    display: flex;
    flex-direction: column;
}
.profile__card-parameter,
.text_tiny {
    @include Futura-New(400, 1.39vmin, 1.39vmin);
    color: $inactive-link-color;
    padding-bottom: 0.926vmin;
}
.profile__card-text {
    @include Futura-New(400, 1.85vmin, 2.3vmin);
    color: $text-dark;
}

.profile__link {
    @include Futura-New(700, 1.85vmin, 2.78vmin);
    color: $button-color;
    text-align: center;
}

.profile__card-title {
    @include SchoolBook(400, 2.78vmin, 4.63vmin);
    color: $text-dark;
}

.profile__card_banner {
    background: $bg-highlighted;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.39vmin;
}

.profile__banner-text {
    @include Futura-New(700, 1em, 1.5em);
    color: $white;
}

.document-text_medcart {
    line-height: 1.39vmin;
}

.document-text_analyzes {
    line-height: 1.85vmin;
}

.profile__card-line_special {
    padding-top: 7vmin;
}

.document,
.profile__card-document {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.39vmin;
    display: flex;
    align-items: center;
    column-gap: 0.52vmax;
    margin-top: 0.926vmin;
    &:hover .profile__card-text {
        text-decoration: underline;
    }
}
.document__parameter {
    padding-bottom: 0;
    margin-left: auto;
}

.document_medcart {
    padding: 2.78vmin 1.39vmin;
}

.document-text_analyzes,
.document-text_medcart {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.document__name {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
}

.profile__card_doctor {
    display: flex;
}

.profile {
    font-size: 2vmax;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profile__nav-items {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: unset;
    }
    .link {
        &:hover {
            padding-left: 0;
        }
    }
}
@media screen and (max-width: 767px) {
    .profile__nav-items {
        display: none;
    }
    .profile__card {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: repeat(3, auto);
    }
    .profile-pfp {
        max-width: 50%;
    }
}
@media screen and (max-width: 1023px) {
    .profile__card-parameter {
        font-size: 1em;
        line-height: 1em;
    }
    .profile__card-text {
        font-size: 1.2em;
        line-height: 1.3em;
    }
    .profile__link {
        font-size: 1.2em;
        line-height: 1.8em;
    }
    .profile__card-title {
        font-size: 1.5em;
        line-height: 3em;
    }
}
