.container1352 {
  max-width: 70.42vw;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 20px;
  }
}

.cards {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}


.card {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 24px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: clamp(14px, 1vw, 20px);
  cursor: pointer;

  &:hover .card__ico {
    filter: invert(24%) sepia(5%) saturate(2501%) hue-rotate(324deg) brightness(101%) contrast(87%);
  }

  &__link {
    display: block;
  }

  &__ico {
    width: clamp(70px, 5.73vw, 110px);
    height: clamp(70px, 5.73vw, 110px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
    filter: invert(90%) sepia(28%) saturate(6487%) hue-rotate(310deg) brightness(135%) contrast(104%);

    &_ico1 {
      background-image: url('../assets/images/landing/services/stethoscope.svg');
    }

    &_ico2 {
      background-image: url('../assets/images/landing/services/scalpel.svg');
    }

    &_ico3 {
      background-image: url('../assets/images/landing/services/collar.svg');
    }

    &_ico4 {
      background-image: url('../assets/images/landing/services/bone.svg');
    }

    &_ico5 {
      background-image: url('../assets/images/landing/services/trace.svg');
    }

    &_ico6 {
      background-image: url('../assets/images/landing/services/ophthalmology.svg');
    }

    &_ico7 {
      background-image: url('../assets/images/landing/services/heart.svg');
    }

    &_ico8 {
      background-image: url('../assets/images/landing/services/teeth.svg');
    }

    &_ico9 {
      background-image: url('../assets/images/landing/services/dog and puppy.svg');
    }

    &_ico10 {
      background-image: url('../assets/images/landing/services/inspection.svg');
    }

    &_ico11 {
      background-image: url('../assets/images/landing/services/laboratory.svg');
    }

    &_ico12 {
      background-image: url('../assets/images/landing/services/syringe.svg');
    }

    &_ico13 {
      background-image: url('../assets/images/landing/services/organ.svg');
    }

    &_ico14 {
      background-image: url('../assets/images/landing/services/lizard.svg');
    }

    &_ico15 {
      background-image: url('../assets/images/landing/services/pills.svg');
    }

    &_ico16 {
      background-image: url('../assets/images/landing/services/grooming.svg');
    }

  }

  &__desc {
    @include Futura-New (400, 20px, 20px);
    color: $text-custom;
  }

  &__row {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: clamp(16px, 1.15vw, 22px);
    color: $text-custom;
  }

}

.subtitle {
  @include SchoolBook (400, clamp(20px, 1.56vw, 30px), clamp(36px, 2.08vw, 40px));
}