.doctor-enroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;

        
        @media (max-width: 1024px) {
            flex-direction: row;
            justify-self: center;
            margin-bottom: clamp(50px, 5.2vw, 100px);  
        }

        @media (max-width: 540px) {
            display: flex;
            flex-direction: column;
            margin-bottom: clamp(50px, 5.2vw, 100px);  
        }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1024px) {
            align-items: flex-start;
            margin-left: clamp(50px, 5.2vw, 100px);
        }

        @media (max-width: 540px) {
            align-items: center;
            margin-left: 0; 
        }

    }    

    &__photo {
        width: clamp(100px, 17.34vw, 333px);
        height: clamp(100px, 17.34vw, 333px);
    }

    &__receipt-date {
        @include Futura-New(400, 20px, 25px);
        color: $inactive-link-color;
        margin: clamp(20px, 1.56vw, 30px) 0;
    }

    &__btn {
        margin-bottom: clamp(32px, 2.08vw, 40px);
    }
}

.main-btn {
    padding: clamp(16px, 1.25vw, 24px) clamp(34px, 4vw, 77px);
    box-shadow: 0px 4px 20px $button-color;
    border-radius: 33.5px;
    @include Futura-New (700, 20px, 20px);
    color: #fff;
    text-transform: uppercase;
    background-color: $button-color;
    transition: 0.3s;

    &:hover {
        background-color: $footer-color;
        box-shadow: none;
    }
}

.btn-link {
    @include Futura-New (700, 20px, 20px);
    color:  $button-color;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        color: $footer-color;
    }
}

.doctor-info {

    &__experience {
        @include Futura-New (400, 20px, 30px);
        color: $inactive-link-color;
    }


    &__course {
        @include Futura-New (400, 20px, 25px);
        color: $text-dark;
        white-space: nowrap;
    }

    &__cards {
        margin: clamp(20px, 1.56vw, 30px) 0;
    }
}

.cards-slider {

    &__container {

    }

    &__container_doctor {
        margin-top: clamp(20px, 1.56vw, 30px);
        gap: 16px;
    }

    &__item_doctor {
        padding: 16px;
        border: 1px solid $bg-separate;
        border-radius: clamp(14px, 1vw, 20px);
    }

}

.review {
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__amount {
        @include Futura-New (400, 20px, 30px);
        color: $inactive-link-color;
        padding-top: 10px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        margin: clamp(20px, 1.56vw, 30px) 0 clamp(12px, 1.25vw, 24px);
        gap: clamp(20px, 1.56vw, 30px);
    }

    &__item {
        display: flex;
        flex-direction: row;
        padding: clamp(20px, 1.56vw, 30px);
        width: (280px, 47.40vw, 910px);
        border: 1px solid $bg-separate;
        border-radius: clamp(14px, 1vw, 20px);
        gap: clamp(20px, 1.56vw, 30px);

        @media (max-width: 786px) {
            flex-direction: column;
        }

    
    }

    &__user-ico {
        display: flex;
        flex: 1 0 auto;
        width: clamp(70px, 6.77vw, 130px);
        height: clamp(70px, 6.77vw, 130px);
    }

    &__user-data {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        padding: clamp(14px, 1vw, 20px) 0 clamp(20px, 1.56vw, 30px);
    }

    &__answer {
        display: flex;
        gap: clamp(20px, 1.56vw, 30px);
    }




}


