.offer {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.offer_slider_bar {
    display: flex;
    align-items: center;
    margin-top: clamp(100px, 1.5vw, 120px);
    margin-left: clamp(100px, 1vw, 110px);
}
.offer_input {
    display: flex;
    max-width: 40vw;
    height: 49vh;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    width: 2.5vw;
    height: 5vh;
    margin: 1.8em;
    cursor: pointer;
    border-style: initial;
    opacity: .5;
    border-radius: 2em;
    transition: all 0.4s ease;


    font-family: Futura New;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 0;
    text-align: center;
}
.bar:hover {
    opacity: 0;
    border-color: black;
    border-style: groove;
    transform: scale(1.1);
}

input[name="circle"] {
    position: absolute;
    visibility: hidden;
}
.slider_nav {
    position: absolute;
    margin-bottom: clamp(100px, 1vw, 110px);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;


}
.offer_slide_content {
    max-width: 67vw;
    padding-left: clamp(100px, 1vw, 110px);
}
.offer_header {
    max-width: 64vw;
    margin-top: clamp(100px, 1.3vw, 113px);
    margin-bottom: clamp(50px, 2vw, 60px);
}
.offer_button {
    display: inline-block;
    max-width: 67vw;
    height: 67px;
    padding: 24px 77px 23px 77px;
    border-radius: 35px;

    font-family: "Futura New";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    color: #ffffff;
    background-color: #ffc59e;
    text-decoration: none;
}
.offer_button:hover {
    background-color: #59443f;
    transform: translateY(-0.5px);
}

.web-socials-slider {
    max-width: 31vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    column-gap: 2.6vw;
    height: clamp(70px, 5.73vw, 110px);
    margin-top: clamp(100px, 1.5vw, 120px);
    margin-bottom: clamp(30px, 1vw, 50px);
}

.offer_fb,
.offer_inst,
.offer_vk,
.offer_ytb {
    filter: invert(83%) sepia(29%) saturate(181%) hue-rotate(214deg)
        brightness(99%) contrast(92%);
}

.offer_fb:hover,
.offer_inst:hover,
.offer_vk:hover,
.offer_ytb:hover {
    filter: invert(26%) sepia(5%) saturate(2107%) hue-rotate(324deg)
        brightness(97%) contrast(88%);
}

.offer_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.img_offer_slide_1 {
    position: relative;
    margin-top: clamp(98px, 1vw, 102px);
}
.offer_number {
    z-index: 1;
    margin-top: -6vmin;
    margin-right: 3vmin;
    font-family: "Futura New";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #59443f;
}
@media (max-width: 820px) {
    .offer {
        flex-direction: column;
    }
    .offer_slider_bar {
        display: none;
    }
    .offer_slide_content {
        max-width: 100vw;
        padding: 0;
    }
    .main-title {
        font-size: 1em;
        margin-left: clamp(50px, 1.5vw, 60px);
    }
    .offer_button {
        font-size: 0.8em;
        padding-left: clamp(60px, 1.5vw, 80px);
        margin-left: clamp(50px, 1.5vw, 60px);
    }
    .web-socials-slider {
        align-self: center;
        margin-top: clamp(20px, 1vw, 30px);
        margin-left: clamp(100px, 2vw, 102px);
    }
    .offer_wrap {
        display: none;
    }
    
}
@media (max-width: 1080px) {
    .bar {
        max-width: 1em;
        max-height: 1em;
        border-radius: 1em;
        line-height: 1em;
    }
    .main-title {
        font-size: 2em;
    }
}
