@font-face {
  font-family: "Futura New";
  src: local("Futura New Book Reg"), local("Futura-New-Book-Reg"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.woff") format("woff"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura New";
  src: local("Futura New Medium Reg"), local("Futura-New-Medium-Reg"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.woff") format("woff"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura New";
  src: local("Futura New Bold Reg"), local("Futura-New-Bold-Reg"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.woff") format("woff"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SchoolBook";
  src: local("SchoolBook-Reg"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.woff2") format("woff2"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.woff") format("woff"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.ttf") format("ttf"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SchoolBook";
  src: local("SchoolBook-Bold"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.woff2") format("woff2"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.woff") format("woff"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.ttf") format("ttf"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
body {
  color: #fffefe;
}

img {
  max-width: 100%;
}

.web-header {
  display: flex;
}

.web-header__container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6.31vw;
  margin-top: 8.23vh;
  margin-right: 5.55vw;
  margin-bottom: 2.07vh;
}

.web-header__logo {
  width: 10vmax;
  margin-right: auto;
  display: flex;
}

.web-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.web-header__menu-item,
.web-header__location-text {
  font-family: "Futura New";
  font-weight: 700;
  font-size: 2.22vh;
  line-height: 2.22vh;
}

.web-header__menu-item {
  color: #C3B9B5;
  margin-left: 2.78vw;
  margin-right: 2.78vw;
  transition: 0.3s;
}
.web-header__menu-item:hover {
  color: #59443F;
}

.web-header__dropdown-link {
  display: inline-block;
}
.web-header__dropdown-link:hover .web-header__dropdown-menu {
  display: block;
}
.web-header__dropdown-link:hover .web-header__menu-item {
  color: #59443F;
}

.web-header__dropdown-menu {
  display: none;
  position: absolute;
  width: 15.625vmax;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
  border-radius: 10%;
  padding: 2.31vh 0;
  box-sizing: content-box;
  transition: 0.3s;
}
.web-header__dropdown-menu > a {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 2.22vh;
  line-height: 2.22vh;
  color: #080606;
  padding: 1.39vmin 2.6vmax;
  padding-right: 0;
  display: block;
  text-align: left;
}
.web-header__dropdown-menu > a:hover {
  font-family: "Futura New";
  font-weight: 500;
  font-size: 2.22vh;
  line-height: 2.22vh;
  padding-left: 3.33vmax;
  transition: 0.3s;
}

.web-header__location {
  display: flex;
  align-items: center;
  margin-left: auto;
  transition: 0.3s;
  filter: invert(77%) sepia(26%) saturate(697%) hue-rotate(328deg) brightness(105%) contrast(101%);
}
.web-header__location:hover {
  filter: invert(25%) sepia(22%) saturate(532%) hue-rotate(325deg) brightness(94%) contrast(86%);
}

.web-header__location-text {
  margin-left: 1em;
  color: #000;
}

@media screen and (max-width: 768px) {
  .web-header__location {
    display: none;
  }
  .web-header__menu {
    gap: 1vw;
    justify-content: end;
  }
  .web-header__logo {
    width: 40%;
  }
  .web-header__container {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .web-header__dropdown-menu {
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .web-header__dropdown-menu > a:hover {
    padding-left: 2.6vmax;
  }
}
.container {
  max-width: 77vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.main-title {
  font-family: "SchoolBook";
  font-weight: 400;
  font-size: clamp(44px, 4.17vw, 80px);
  line-height: clamp(50px, 5.7vw, 110px);
  color: #080606;
}

.enroll__title {
  grid-area: title;
  margin: 0 0 clamp(20px, 2.6vw, 50px);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 28.64vw;
  padding: clamp(40px, 3.9vw, 75px) 0 clamp(30px, 3.1vw, 60px);
  cursor: pointer;
  text-decoration: none;
  color: #FFC59E;
}
@media (max-width: 1024px) {
  .breadcrumbs {
    margin-left: 0;
  }
}

.breadcrumps__arrow {
  width: 7px;
  height: 12px;
  background-image: url("../assets/images/landing/ico/arrow_small_prev.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.breadcrumps__title {
  text-transform: uppercase;
  font-family: "Futura New";
  font-weight: 700;
  font-size: clamp(16px, 1.1vw, 20px);
  line-height: clamp(16px, 1.1vw, 20px);
}

.enroll__row {
  display: grid;
  grid-template-columns: 28.64vw 47.36vw;
  grid-template-areas: "title btns";
}
@media (max-width: 1024px) {
  .enroll__row {
    grid-template-columns: 100%;
    grid-template-areas: "title" "btns";
  }
}

.enroll__btns {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1.25vw, 24px);
  grid-area: btns;
}

.enroll__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: clamp(16px, 1.7vw, 32px);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: clamp(14px, 1vw, 20px);
}
.enroll__btn:hover {
  border: 1px solid #C3B9B5;
}

.cards__link {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 24px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
}
.card:hover .card__ico {
  filter: invert(24%) sepia(5%) saturate(2501%) hue-rotate(324deg) brightness(101%) contrast(87%);
}

.card__ico {
  width: 110px;
  height: 110px;
  margin-top: 22px;
  background-image: url("../assets/images/landing/services/stethoscope.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  filter: invert(90%) sepia(28%) saturate(6487%) hue-rotate(310deg) brightness(135%) contrast(104%);
}

.subtitle {
  font-family: "SchoolBook";
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.card__title {
  color: #59443F;
}

.card__desc {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #59443F;
}

.card__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */