@font-face {
  font-family: "Futura New";
  src: local("Futura New Book Reg"), local("Futura-New-Book-Reg"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.woff") format("woff"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura New";
  src: local("Futura New Medium Reg"), local("Futura-New-Medium-Reg"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.woff") format("woff"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura New";
  src: local("Futura New Bold Reg"), local("Futura-New-Bold-Reg"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.woff") format("woff"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SchoolBook";
  src: local("SchoolBook-Reg"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.woff2") format("woff2"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.woff") format("woff"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.ttf") format("ttf"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SchoolBook";
  src: local("SchoolBook-Bold"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.woff2") format("woff2"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.woff") format("woff"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.ttf") format("ttf"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
img {
  max-width: 100%;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.web-header {
  width: 100vw;
}

.web-header__container {
  display: flex;
  flex-direction: row;
}

.web-header__logo {
  width: 5%;
}

.web-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.web-header__menu-item {
  font-family: "Futura New";
  font-weight: 700;
  font-size: 2.22vh;
  line-height: 2.22vh;
  color: #C3B9B5;
  text-decoration: none;
  margin-left: 2.78vw;
  margin-right: 2.78vw;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

.enroll {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
}

.main-title {
  font-family: "SchoolBook";
  font-weight: 400;
  font-size: 80px;
  line-height: 110px;
  color: #080606;
}

.enroll__title {
  margin: 160px 0 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 75px 0 60px;
  cursor: pointer;
  text-decoration: none;
  color: #FFC59E;
}

.breadcrumps__arrow {
  width: 7px;
  height: 12px;
  background-image: url("../assets/images/landing/ico/arrow_small_prev.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.breadcrumps__title {
  text-transform: uppercase;
  font-family: "Futura New";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.enroll__btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.enroll__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 909px;
  padding: 32px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.enroll__btn:hover {
  border: 1px solid #C3B9B5;
}/*# sourceMappingURL=style.css.map */