@charset "UTF-8";
@font-face {
  font-family: "Futura New";
  src: local("Futura New Book Reg"), local("Futura-New-Book-Reg"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.woff") format("woff"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-400/FuturaNewBook-Reg.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura New";
  src: local("Futura New Medium Reg"), local("Futura-New-Medium-Reg"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.woff") format("woff"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-500/FuturaNewMedium-Reg.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura New";
  src: local("Futura New Bold Reg"), local("Futura-New-Bold-Reg"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.woff2") format("woff2"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.woff") format("woff"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.ttf") format("ttf"), url("/assets/fonts/futura-new-700/FuturaNewBold-Reg.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SchoolBook";
  src: local("SchoolBook-Reg"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.woff2") format("woff2"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.woff") format("woff"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.ttf") format("ttf"), url("/assets/fonts/schoolbook-400/schoolbook-cyrillic.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SchoolBook";
  src: local("SchoolBook-Bold"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.woff2") format("woff2"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.woff") format("woff"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.ttf") format("ttf"), url("/assets/fonts/schoolbook-700/schoolbook-bold-cyrillic.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: #fffefe;
}

img {
  max-width: 100%;
}

.web-header {
  display: flex;
}

.web-header__container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6.31vw;
  margin-top: 8.23vh;
  margin-right: 5.55vw;
  margin-bottom: 2.07vh;
}

.web-header__logo {
  margin-right: auto;
  display: flex;
  filter: invert(24%) sepia(13%) saturate(1117%) hue-rotate(324deg) brightness(91%) contrast(79%);
}

.web-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.web-header__menu-item,
.web-header__location-text {
  font-family: "Futura New";
  font-weight: 700;
  font-size: 2.22vh;
  line-height: 2.22vh;
}

.web-header__menu-item {
  color: #C3B9B5;
  margin-left: 2.78vw;
  margin-right: 2.78vw;
  transition: 0.3s;
}
.web-header__menu-item:hover {
  color: #59443F;
}

.web-header__dropdown-link {
  display: inline-block;
}
.web-header__dropdown-link:hover .web-header__dropdown-menu {
  display: block;
}
.web-header__dropdown-link:hover .web-header__menu-item {
  color: #59443F;
}

.web-header__dropdown-menu {
  display: none;
  position: absolute;
  width: 15.625vmax;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
  border-radius: 10%;
  padding: 2.31vh 0;
  margin-top: 0.5vh;
  box-sizing: content-box;
  transition: 0.3s;
}
.web-header__dropdown-menu > a {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 2.22vh;
  line-height: 2.22vh;
  color: #080606;
  padding: 1.39vmin 2.6vmax;
  padding-right: 0;
  display: block;
  text-align: left;
}
.web-header__dropdown-menu > a:hover {
  font-family: "Futura New";
  font-weight: 500;
  font-size: 2.22vh;
  line-height: 2.22vh;
  padding-left: 3.33vmax;
  transition: 0.3s;
}

.web-header__location {
  display: flex;
  align-items: center;
  margin-left: auto;
  transition: 0.3s;
  filter: invert(77%) sepia(26%) saturate(697%) hue-rotate(328deg) brightness(105%) contrast(101%);
}
.web-header__location:hover {
  filter: invert(25%) sepia(22%) saturate(532%) hue-rotate(325deg) brightness(94%) contrast(86%);
}

.web-header__location-text {
  margin-left: 1em;
  color: #000;
}

.burger {
  display: none;
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
  font-family: "Futura New";
  font-weight: 700;
  font-size: 2.22vh;
  line-height: 2.22vh;
}

.burger__checkbox {
  display: block;
  width: 47px;
  height: 35px;
  position: absolute;
  top: 6px;
  right: 32px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.burger__checkbox:checked ~ .burger__menu {
  transform: none;
}

.burger__icon {
  position: relative;
  top: 20px;
  width: 50px;
  height: 5px;
  background-color: #FFC59E;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.burger__icon::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  top: -12px;
  background-color: #FFC59E;
}
.burger__icon::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  top: 12px;
  background-color: #FFC59E;
}

.burger__icon,
.burger__icon::after,
.burger__icon::before {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.burger__checkbox:checked ~ .burger__icon,
.burger__checkbox:checked ~ .burger__icon::after,
.burger__checkbox:checked ~ .burger__icon::before {
  background-color: #FFC59E;
}

.burger__checkbox:checked ~ .burger__icon {
  background-color: #FFFEFE;
}

.burger__checkbox:checked ~ .burger__icon::before {
  opacity: 1;
  transform: translateY(-13px) rotate(-45deg);
}

.burger__checkbox:checked ~ .burger__icon::after {
  opacity: 1;
  transform: translateY(13px) rotate(45deg);
}

.burger__checkbox ~ .burger__menu {
  opacity: 0;
}

.burger__checkbox:checked ~ .burger__menu {
  opacity: 1;
}

.burger__menu {
  position: absolute;
  width: auto;
  max-width: 60vw;
  margin: 1vh 0 0 -30vw;
  padding: 7.36vw;
  background-color: #FFFEFE;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.burger__menu > a {
  text-decoration: none;
  color: #C3B9B5;
  transition: color 0.3s ease;
}
.burger__menu > a:hover {
  color: #59443F;
}
.burger__menu > a > li {
  padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .web-header__location {
    display: none;
  }
  .web-header__menu {
    display: none;
  }
  .web-header__logo {
    width: 40%;
  }
  .web-header__container {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .web-header__dropdown-menu {
    right: 0;
  }
  .burger {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .web-header__dropdown-menu > a:hover {
    padding-left: 2.6vmax;
  }
  .web-header__dropdown-menu {
    margin-top: 0;
  }
}
.container {
  max-width: 77vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.main-title {
  font-family: "SchoolBook";
  font-weight: 400;
  font-size: clamp(44px, 4.17vw, 80px);
  line-height: clamp(50px, 5.7vw, 110px);
  color: #080606;
  margin: 0;
}

.section__title {
  grid-area: title;
  margin: 0 0 clamp(20px, 2.6vw, 50px);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 28.64vw;
  padding: clamp(40px, 3.9vw, 75px) 0 clamp(30px, 3.1vw, 60px);
  cursor: pointer;
  text-decoration: none;
  color: #FFC59E;
}
@media (max-width: 1024px) {
  .breadcrumbs {
    margin-left: 0;
  }
}

.breadcrumps__arrow {
  width: 7px;
  height: 12px;
  background-image: url("../assets/images/landing/ico/path_prev.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(10%) sepia(28%) saturate(6487%) hue-rotate(310deg) brightness(135%) contrast(104%);
}

.breadcrumps__title {
  text-transform: uppercase;
  font-family: "Futura New";
  font-weight: 700;
  font-size: clamp(16px, 1.1vw, 20px);
  line-height: clamp(16px, 1.1vw, 20px);
}

.section__row {
  display: grid;
  grid-template-columns: 28.64vw 47.36vw;
  grid-template-areas: "title part";
}
@media (max-width: 1024px) {
  .section__row {
    grid-template-columns: 100%;
    grid-template-areas: "title" "part";
  }
}

.section__part {
  grid-area: part;
}

.enroll__btns {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1.25vw, 24px);
}

.enroll__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: clamp(16px, 1.7vw, 32px);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: clamp(14px, 1vw, 20px);
  color: #080606;
  cursor: pointer;
}
.enroll__btn:hover {
  border: 1px solid #C3B9B5;
}

.card {
  position: relative;
  padding: 24px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: clamp(14px, 1vw, 20px);
  background-color: #fff;
  cursor: pointer;
}
.card:hover .card__ico {
  filter: invert(24%) sepia(5%) saturate(2501%) hue-rotate(324deg) brightness(101%) contrast(87%);
}
.card__link {
  display: block;
}
.card__ico {
  width: clamp(70px, 5.73vw, 110px);
  height: clamp(70px, 5.73vw, 110px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
  filter: invert(90%) sepia(28%) saturate(6487%) hue-rotate(310deg) brightness(135%) contrast(104%);
}
.card__ico_ico1 {
  background-image: url("../assets/images/landing/services/stethoscope.svg");
}
.card__ico_ico2 {
  background-image: url("../assets/images/landing/services/scalpel.svg");
}
.card__ico_ico3 {
  background-image: url("../assets/images/landing/services/collar.svg");
}
.card__ico_ico4 {
  background-image: url("../assets/images/landing/services/bone.svg");
}
.card__ico_ico5 {
  background-image: url("../assets/images/landing/services/trace.svg");
}
.card__ico_ico6 {
  background-image: url("../assets/images/landing/services/ophthalmology.svg");
}
.card__ico_ico7 {
  background-image: url("../assets/images/landing/services/heart.svg");
}
.card__ico_ico8 {
  background-image: url("../assets/images/landing/services/teeth.svg");
}
.card__ico_ico9 {
  background-image: url("../assets/images/landing/services/dog and puppy.svg");
}
.card__ico_ico10 {
  background-image: url("../assets/images/landing/services/inspection.svg");
}
.card__ico_ico11 {
  background-image: url("../assets/images/landing/services/laboratory.svg");
}
.card__ico_ico12 {
  background-image: url("../assets/images/landing/services/syringe.svg");
}
.card__ico_ico13 {
  background-image: url("../assets/images/landing/services/organ.svg");
}
.card__ico_ico14 {
  background-image: url("../assets/images/landing/services/lizard.svg");
}
.card__ico_ico15 {
  background-image: url("../assets/images/landing/services/pills.svg");
}
.card__ico_ico16 {
  background-image: url("../assets/images/landing/services/grooming.svg");
}
.card__desc {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #59443F;
  margin-top: clamp(80px, 7.92vw, 152px);
}
.card__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.card__title {
  position: absolute;
  color: #59443F;
}

.container1352 {
  max-width: 70.42vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container1352 {
    max-width: 100%;
    padding: 0 20px;
  }
}

.cards {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.subtitle {
  font-family: "SchoolBook";
  font-weight: 400;
  font-size: clamp(20px, 1.56vw, 30px);
  line-height: clamp(36px, 2.08vw, 40px);
}

.counter {
  display: flex;
  flex-direction: column;
  width: clamp(280px, 38vw, 716px);
}
.counter__wrapper {
  position: relative;
  margin: clamp(100px, 16.48vw, 316px) 0;
}
.counter__title {
  font-family: "SchoolBook";
  font-weight: 700;
  font-size: clamp(48px, 7.5vw, 144px);
  line-height: clamp(50px, 5.7vw, 110px);
  color: #59443F;
  margin-bottom: 20px;
}
.counter__text {
  font-family: "Futura New";
  font-weight: 400;
  font-size: clamp(40px, 4.17vw, 80px);
  line-height: clamp(50px, 5.7vw, 110px);
  color: #080606;
}
.counter__img {
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 55%;
}
@media (max-width: 1850px) {
  .counter__img {
    top: 76%;
    left: 55%;
  }
}
@media (max-width: 1690px) {
  .counter__img {
    top: 74%;
    left: 53%;
  }
}
@media (max-width: 941px) {
  .counter__img {
    top: 64%;
    left: 3%;
  }
}
@media (max-width: 768px) {
  .counter__img {
    top: 80%;
    left: 63%;
  }
}

.order__form {
  display: grid;
  grid-template: 1fr 1fr 3fr/1fr 1fr;
  grid-template-areas: "name name" "tel data" "issue issue";
  gap: clamp(12px, 1.25vw, 24px);
}
@media (max-width: 768px) {
  .order__form {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr) 3fr;
    grid-template-areas: "name" "tel" "data" "issue";
  }
}
.order__form_input {
  border: 1px solid #EDE9E8;
}
.order__input {
  padding: 16px;
  border-radius: clamp(14px, 1vw, 20px);
  background-color: #fff;
}
.order__input::placeholder {
  color: #C3B9B5;
}
.order__input_name {
  grid-area: name;
}
.order__input_tel {
  grid-area: tel;
}
.order__input_data {
  grid-area: data;
}
.order__input_issue {
  grid-area: issue;
  resize: none;
}
.order__payment {
  margin-top: 24px;
  padding: 16px 16px 0;
  border-radius: clamp(14px, 1vw, 20px);
  background-color: #EDE9E8;
}
.order__row {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  grid-template-areas: "payment-type capcha-form";
  gap: clamp(12px, 1.25vw, 24px);
}
@media (max-width: 1680px) {
  .order__row {
    grid-template: 1fr/1fr;
    grid-template-areas: "payment-type" "capcha-form";
  }
}
.order__payment-type {
  grid-area: payment-type;
}
.order__payment-capcha-form {
  grid-area: capcha-form;
  display: flex;
  gap: 8px;
}
@media (max-width: 1680px) {
  .order__payment-capcha-form {
    justify-content: center;
  }
}
@media (max-width: 540px) {
  .order__payment-capcha-form {
    flex-direction: column;
    align-items: center;
  }
}
.order__payment-captcha {
  width: 209px;
  height: 57px;
  background-image: url("../assets/images/landing/captcha.png");
  background-size: contain;
  border-radius: clamp(14px, 1vw, 20px);
}
.order__payment-captcha_input {
  width: 209px;
  border: none;
}
.order__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px 0;
}
.order__btn {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #59443F;
}

.container1640 {
  max-width: 85.42vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container1640 {
    max-width: 100%;
    padding: 0 20px;
  }
}

.title {
  font-family: "SchoolBook";
  font-weight: 400;
  font-size: clamp(32px, 2.08vw, 40px);
  line-height: clamp(32px, 2.08vw, 40px);
  color: #080606;
}
@media (max-width: 768px) {
  .title {
    text-align: center;
  }
}

.features__title {
  display: flex;
  justify-content: center;
  padding-bottom: clamp(50px, 5.42vw, 104px);
}
.features__items {
  display: grid;
  grid-gap: clamp(40px, 4.9vw, 94px);
  grid-template-columns: repeat(auto-fit, minmax(484px, 1fr));
}
@media (max-width: 1920px) {
  .features__items {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
@media (max-width: 1360px) {
  .features__items {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
@media (max-width: 1190px) {
  .features__items {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
.features__item-title {
  color: #080606;
  padding-bottom: clamp(16px, 7.08vw, 36px);
}
@media (max-width: 1024px) {
  .features__item-title {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 540px) {
  .features__item-title {
    max-width: 100%;
  }
}
.features__row {
  display: grid;
  grid-template: 1fr/1fr 1.9fr;
  grid-template-areas: "ico txt";
}
@media (max-width: 1024px) {
  .features__row {
    grid-template: 1fr/1fr;
    grid-template-areas: "ico" "txt";
  }
}
.features__ico {
  grid-area: ico;
  width: clamp(70px, 5.2vw, 100px);
  height: clamp(70px, 5.2vw, 100px);
  align-self: start;
  justify-self: center;
}
@media (max-width: 1024px) {
  .features__ico {
    padding-bottom: 24px;
  }
}
.features__desc {
  grid-area: txt;
}

.text {
  color: #59443F;
  font-family: "Futura New";
  font-weight: 400;
  font-size: clamp(16px, 1.04vw, 20px);
  line-height: clamp(20px, 1.56vw, 30px);
}

.web-footer {
  margin-top: auto;
  background-color: #59443F;
}

.web-footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #FFFFFF;
  padding-left: 11.98vmax;
  padding-right: 12vmax;
  padding-top: 7.41vmin;
  padding-bottom: 5.56vmin;
  gap: 1vmin;
}

.footer-nav__logo {
  filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
  transition: 0.3s;
}
.footer-nav__logo:hover {
  filter: invert(75%) sepia(38%) saturate(326%) hue-rotate(337deg) brightness(99%) contrast(107%);
}

.footer-nav__logo-img {
  margin-top: -1.7vh;
}

.footer-nav__logo-container {
  display: flex;
  gap: 1.15vmax;
}

.footer-nav__title {
  font-family: "SchoolBook";
  font-weight: 700;
  font-size: 4.63vh;
  line-height: 4.26vh;
  color: black;
}

.footer-nav__subtitle {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 2.22vh;
  line-height: 2.22vh;
  color: black;
}

.footer-nav__nav-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3.61vmin;
  margin-left: 5.33vmax;
  gap: 1vw;
}

.footer-nav__nav-item {
  display: flex;
  flex-direction: column;
}

.footer-nav__nav-item-link {
  color: #FFFFFF;
  font-family: "Futura New";
  font-weight: 400;
  font-size: 2.22vh;
  line-height: 150%;
  transition: 0.3s;
}
.footer-nav__nav-item-link:hover {
  color: #FFC59E;
}

.web-footer__contacts,
.footer-contacts {
  min-width: 28.33vmax;
  display: flex;
  flex-direction: column;
  gap: 2.78vmin;
}

.footer-contacts__apps,
.web-apps {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
}

.web-apps__app {
  display: block;
}

.web-socials {
  display: flex;
  flex-direction: row;
  column-gap: 2.6vw;
}

.footer-contacts__socials > a {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(319deg) brightness(102%) contrast(101%);
}
.footer-contacts__socials > a:hover {
  filter: invert(75%) sepia(38%) saturate(326%) hue-rotate(337deg) brightness(99%) contrast(107%);
}

.footer-contacts__sites,
.footer-contacts__credit {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 2.22vh;
  line-height: 2.78vh;
}

.footer-contacts__sites {
  display: flex;
  flex-direction: column;
}

.footer-contacts__sites > a {
  color: #FFFFFF;
}
.footer-contacts__sites > a:hover {
  color: #FFC59E;
}

.footer-contacts__credit {
  margin-top: auto;
}
.footer-contacts__credit:hover {
  color: #FFC59E;
}

@media screen and (max-width: 1023px) {
  .web-footer__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .web-footer__container {
    padding: 1.7em;
  }
  .footer-nav__nav-items {
    margin-left: 0;
  }
  .footer-contacts__app {
    max-width: 90%;
  }
  .footer-nav__logo-img {
    max-width: 22%;
  }
}
.landing-map {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.35vmax;
  margin-left: 12vmax;
  margin-right: 12vmax;
  margin-top: 21.76vmin;
  margin-bottom: 20vmin;
}

.landing-map__desc,
.map-desc {
  display: flex;
  flex-direction: column;
}

.map-desc__title {
  color: #080606;
  margin-bottom: 6.48vmin;
}

.map-desc__container {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.map-desc__subtitle {
  color: #080606;
}

.map-desc__row {
  display: flex;
  flex-direction: row;
  gap: 1.56vmax;
}

.map-desc__img {
  filter: invert(99%) sepia(54%) saturate(4238%) hue-rotate(296deg) brightness(104%) contrast(116%);
  width: clamp(20px, 2.4vw, 30px);
  height: clamp(29px, 2.4vw, 40px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.map-desc__desc {
  color: #59443F;
}

.map-desc__img_loc {
  background-image: url(/assets/images/landing/ico/location.svg);
}

.map-desc__img_ph {
  background-image: url(/assets/images/landing/ico/phone.svg);
}

.map-desc__img_time {
  background-image: url(/assets/images/landing/ico/clock.svg);
}

.landing-map__tablet {
  display: none;
}

.landing-map__mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  .landing-map {
    flex-direction: column;
  }
  .landing-map__desctop {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .landing-map {
    margin: 5em 1.5em;
    width: auto;
  }
  .landing-map__mobile {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .landing-map__tablet {
    display: block;
  }
  .map-desc__title {
    text-align: left;
  }
  .landing-map {
    max-width: 100vw;
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .landing-map {
    flex-wrap: wrap;
  }
}
.service__title {
  padding-bottom: 30px;
}
.service__cards {
  position: relative;
}

.slider-items {
  position: absolute;
  max-width: 59.37vw;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .slider-items {
    max-width: 100vw;
  }
}

.section__article {
  margin-top: clamp(200px, 14.58vw, 280px);
}
.section__nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .section__nav-items {
    flex-direction: row;
    gap: clamp(14px, 1vw, 20px);
  }
}
@media (max-width: 768px) {
  .section__nav-items {
    display: none;
  }
}
.section__nav-item {
  padding-bottom: clamp(20px, 1.56vw, 30px);
}
.section__mg {
  padding-bottom: clamp(40px, 5.21vw, 100px);
}
.section__text {
  padding-top: clamp(20px, 1.56vw, 30px);
}
.section__img-container {
  padding: clamp(30px, 2.6vw, 50px) 0 clamp(5px, 0.52vw, 10px);
}
.section__img {
  border-radius: clamp(14px, 1vw, 20px);
}
.section__label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-link {
  text-decoration: none;
}

.slider-cards {
  display: flex;
  flex-direction: row;
  gap: clamp(14px, 1vw, 20px);
}

.slider-card {
  display: flex;
  flex-direction: row;
  width: clamp(280px, 17.92vw, 344px);
  margin: 5px 0 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: clamp(14px, 1vw, 20px);
}
.slider-card:hover {
  background-color: #FFC59E;
}
.slider-card:hover .slider-card__full-name {
  color: #fff;
}
.slider-card:hover .slider-card__receipt-date {
  color: #fff;
}
.slider-card__link {
  cursor: pointer;
}
.slider-card__desc {
  display: flex;
  flex-direction: column;
}
.slider-card__ico {
  display: flex;
  width: clamp(30px, 2.6vw, 50px);
  height: clamp(30px, 2.6vw, 50px);
  margin-right: 16px;
  margin-bottom: 16px;
  background-image: url("../assets/images/landing/team/surgeon.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: clamp(30px, 2.6vw, 50px);
}
.slider-card__full-name {
  font-family: "Futura New";
  font-weight: 450;
  font-size: clamp(18px, 1.25vw, 24px);
  line-height: clamp(18px, 1.25vw, 24px);
  color: #080606;
  padding-bottom: 10px;
}
.slider-card__receipt-date {
  font-family: "Futura New";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #C3B9B5;
}

.link {
  font-family: "Futura New";
  font-weight: 700;
  font-size: clamp(16px, 1.1vw, 20px);
  line-height: clamp(20px, 1.56vw, 30px);
  text-transform: uppercase;
  color: #C3B9B5;
  transition: 0.3s;
}
.link:hover {
  padding-left: 8px;
  color: #59443F;
}

.text__nar {
  list-style: none;
}
.text__nar::before {
  content: "—";
  padding-right: 5px;
}

.services_section {
  background-color: #EDE9E8;
  padding: clamp(30px, 2.6vw, 50px) 0;
}
.services_section .cards {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.services_section .card {
  width: clamp(280px, 16.67vw, 320px);
  margin-top: clamp(25px, 2.4vw, 46px);
}

.slider-container {
  position: relative;
  max-width: 88.5vw;
  margin-left: 11.5vw;
  overflow: hidden;
}
.slider-container__btn-next {
  position: absolute;
  margin-right: 11.5vw;
  z-index: 10;
  right: 0;
  top: 45%;
  padding: 12px 16.5px 12px 16.4px;
  background-color: #FFC59E;
  border-radius: 40px;
  box-shadow: 0px 2px 10px rgba(155, 82, 50, 0.5);
  cursor: pointer;
}
.slider-container__btn-next :hover {
  filter: invert(76%) sepia(5%) saturate(2501%) hue-rotate(324deg) brightness(101%) contrast(87%);
}
.slider-container__btn-next_align {
  top: 40%;
}

.pagination__items {
  display: flex;
  gap: 16px;
  list-style: none;
}
.pagination__link {
  font-family: "Futura New";
  font-weight: 400;
  font-size: clamp(16px, 1.04vw, 20px);
  line-height: clamp(20px, 1.56vw, 30px);
  color: #C3B9B5;
}
.pagination__link:hover {
  color: #FFC59E;
}
.pagination__link_active {
  color: #080606;
}
.pagination_align {
  display: flex;
  justify-content: flex-end;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 50px 0 24px;
  font-family: "Futura New";
  font-weight: 400;
  font-size: clamp(16px, 1.04vw, 20px);
  line-height: clamp(16px, 1.04vw, 20px);
  color: #080606;
}
.table__row {
  display: grid;
  grid-template-columns: 9.5fr 1.5fr;
  border-radius: 15px;
}
@media (max-width: 1400px) {
  .table__row {
    grid-template-columns: 8fr 2fr;
  }
}
@media (max-width: 540px) {
  .table__row {
    grid-template-columns: 5fr 3fr;
  }
}
.table__row:nth-last-child(2n) {
  background-color: rgba(237, 233, 232, 0.3137254902);
}
.table__cell {
  padding: 14px clamp(20px, 1.56vw, 30px);
}
.table__cell_price {
  display: flex;
  justify-self: center;
}

.btn-next {
  width: 7px;
  height: 12px;
}

.main-app {
  background-color: #FFC59E;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 12vmax;
  padding-right: 12vmax;
  padding-top: 21.76vmin;
  padding-bottom: 20vmin;
}

.main-app__add-text {
  font-family: "Futura New";
  font-weight: 400;
  line-height: clamp(16px, 1.04vw, 20px);
  font-size: clamp(20px, 1.56vw, 30px);
  color: #FFFFFF;
}

.main-app__title {
  color: #FFFFFF;
}

.main-app__section {
  max-width: 40vmax;
}

.main-app__banner {
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .main-app {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .main-app {
    padding: 5em 1.5em;
    width: auto;
  }
}
.history__img {
  display: flex;
  flex-direction: row;
  gap: clamp(15px, 1.6vw, 50px);
}
@media (max-width: 1024px) {
  .history__img {
    justify-content: center;
  }
}
.history-mg {
  padding: 0 clamp(30px, 2.6vw, 50px);
}

.section__img-container_history {
  padding: 0 0 clamp(30px, 2.6vw, 50px);
}

.section__img_history {
  width: clamp(130px, 22.4vw, 430px);
  height: clamp(130px, 22.4vw, 430px);
}

.section__article_history {
  margin-top: 0;
}/*# sourceMappingURL=style.css.map */